body {
	font: "Lato", sans-serif; 
	color: #2d3c49; 
	font-weight: 300; 
}

p {
	color: #7dadab; 
}

a {
	font-weight: bold; 
}

hr {
	border-style: solid none; 
	border-color: #7d97ad; 
}

details {
	color: #228b22; 
}

h1, 
h3 {
	color: #228b22; 
}

.text-mute {
	color:#7d97ad; 
}

.text-thin {
	font-weight: 100; 
}

.main-title {
	font-size: 60px; 
}

.title-logo {
	margin: 40px; 
	padding: 10px; 
}
